'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'sound'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'sound:toggle'
        },
        {
          'label': 'OpenSoundDirectory'
          'command': 'sound:open-sound-dir'
        },
        {
          'label': 'VolumeUp'
          'command': 'sound:volume-up'
        },
        {
          'label': 'VolumeDown'
          'command': 'sound:volume-down'
        }
      ]
    ]
  }
]
